#textField {
    -fx-pref-width: 100px;
    -fx-font-size: 14px;
    -fx-background-color: lightblue;
}
HBox {
    -fx-spacing: 10px;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.pixel-button {
    -fx-background-color: #4caf50; /* Zielony kolor */
    -fx-text-fill: white; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 14px; /* Wielkość tekstu */
    -fx-padding: 10 20; /* Wewnątrz przycisku */
    -fx-border-color: #2d6a35; /* Obrys */
    -fx-border-width: 2px;
    -fx-border-radius: 5px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #2d6a35, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 5px; /* Dopasowanie zaokrąglenia */
    -fx-cursor: hand; /* Zmiana kursora na rękę */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
}
.pixel-start-button{
    -fx-background-color: #4caf50; /* Zielony kolor */
    -fx-text-fill: white; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 17px; /* Wielkość tekstu */
    -fx-padding: 10 20; /* Wewnątrz przycisku */
    -fx-border-color: #2d6a35; /* Obrys */
    -fx-border-width: 2px;
    -fx-border-radius: 5px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #2d6a35, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 5px; /* Dopasowanie zaokrąglenia */
    -fx-cursor: hand; /* Zmiana kursora na rękę */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
    -fx-pref-width: 130;
    -fx-pref-height: 60;
}

.pixel-button:hover {
    -fx-background-color: #3e8e41; /* Ciemniejszy zielony */
    -fx-effect: dropshadow(gaussian, #2d6a35, 1, 0.5, 1, 1); /* Subtelne zmniejszenie cienia */
}

.pixel-button:pressed {
    -fx-background-color: #366836; /* Jeszcze ciemniejszy zielony */
    -fx-effect: none; /* Brak cienia */
    -fx-translate-x: 3px; /* Wciśnięcie w prawo */
    -fx-translate-y: 3px; /* Wciśnięcie w dół */
}

.pixel-spinner {
    -fx-background-color: #af4c81;
    -fx-max-width: 550px;
    -fx-text-fill: white; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 10px; /* Wielkość tekstu */
    -fx-padding: 9 9; /* Wewnątrz przycisku */
    -fx-border-color: #681a6a; /* Obrys */
    -fx-border-radius: 5px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #642d6a, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 5px; /* Dopasowanie zaokrąglenia */
    -fx-cursor: hand; /* Zmiana kursora na rękę */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
}

.stats-label{
    -fx-background-color: #c62606;
    -fx-max-width: 380px;
    -fx-max-height: 8px;
    -fx-text-fill: #ccbdbd; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 8px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #b6570f; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #914913, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-alignment: baseline-left;
    -fx-text-alignment: left;
}
.stats-values{
    -fx-background-color: #e31a3e;
    -fx-max-width: 400px;
    -fx-max-height: 8px;
    -fx-text-fill: #0e0d0d; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 9px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #b6570f; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #914913, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
}
.single-animal-stats-label{
    -fx-background-color: #efe20e;
    -fx-max-width: 380px;
    -fx-max-height: 8px;
    -fx-text-fill: #0e0d0d; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 8px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #b6570f; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #914913, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
}

.single-animal-stats-values{
    -fx-background-color: #e1661a;
    -fx-max-width: 380px;
    -fx-max-height: 8px;
    -fx-text-fill: #1c1919; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 8px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #b6570f; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #914913, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
}

.main-container {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center-left;
}

#mapGrid {
    -fx-min-height: 600px;
    -fx-min-width: 600px;
    -fx-max-height: infinity;
    -fx-max-width: infinity;
}

#Charts {
    -fx-min-width: 400px;
    -fx-max-width: 400px;
}


/* Kolor linii dla wykresu zwierząt (czerwony) */
.animal-chart .chart-series-line {
    -fx-stroke: red;            /* Czerwony kolor linii */
    -fx-stroke-width: 2px;      /* Grubość linii */
}

/* Kolor linii dla wykresu trawy (zielony) */
.grass-chart .chart-series-line {
    -fx-stroke: green;          /* Zielony kolor linii */
    -fx-stroke-width: 2px;      /* Grubość linii */
}

/* Kolor linii dla wykresu energii (żółty) */
.energy-chart .chart-series-line {
    -fx-stroke: #efbb0e;         /* Żółty kolor linii */
    -fx-stroke-width: 2px; /* Grubość linii */
}
.animal-chart .chart-line-symbol,
.grass-chart .chart-line-symbol,
.energy-chart .chart-line-symbol {
    -fx-background-color: transparent; /* Usuwa punkty */
    -fx-background-radius: 0; /* Ustawić promień na 0, żeby nie były widoczne */
}

.stats-buton{
    -fx-background-color: #c62606;
    -fx-max-width: 380px;
    -fx-max-height: 12px;
    -fx-text-fill: #ccbdbd; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 10px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #b6570f; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #914913, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-text-alignment: center;
}
.animal-stats-buton{
    -fx-background-color: #efe20e;
    -fx-max-width: 380px;
    -fx-max-height: 12px;
    -fx-text-fill: #0e0d0d; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 10px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #b6570f; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #914913, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
}

.chart-title{
    -fx-background-color: #25ae3f;
    -fx-max-height: 12px;
    -fx-text-fill: #e8dfdf; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 10px; /* Wielkość tekstu */
    -fx-padding: 4 4; /* Wewnątrz przycisku */
    -fx-border-color: #1f8b53; /* Obrys */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-effect: dropshadow(gaussian, #25ae3f, 3, 0.5, 3, 3); /* Pikselowy cień */
    -fx-background-radius: 4px; /* Dopasowanie zaokrąglenia */
    -fx-text-alignment: center;
}

.chart-details{
    -fx-max-height: 3px;
    -fx-text-fill: #1c1919; /* Biały tekst */
    -fx-font-family: 'Press Start 2P', monospace; /* Pikselowy styl */
    -fx-font-size: 8px; /* Wielkość tekstu */
    -fx-border-radius: 4px; /* Delikatne zaokrąglenie */
    -fx-text-alignment: center;
}

/* Stylowanie ticków (znaczników) osi */
.animal-chart .tick-mark,
.grass-chart .tick-mark,
.energy-chart .tick-mark {
    -fx-stroke: black;              /* Kolor ticków */
    -fx-stroke-width: 3px;          /* Grubość ticków */
}

.axis {
    -fx-tick-label-font-size: 7px;
    -fx-tick-label-fill: #333333;
}


.axis-tick-mark {
    -fx-stroke-width: 4px;
}

.axis-minor-tick-mark {
    -fx-stroke-width: 1px;
}
.animal-chart, .grass-chart, .energy-chart {
    -fx-background-color: #f0f0f0; /* Kolor tła wykresu na szary */
}

.mapGrid{
    -fx-background-color: #00FF01;
    -fx-border-color: black;
    -fx-border-width: 7;
}